.carousel-item {
    height: 400px;
  }
  
  .carousel-item img {
    max-height: 100%;
    object-fit: cover;
  }
  
  .carousel-indicators li {
    background-color: #ffffff;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
  