<div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
        </div>
        <h4 class="page-title">Dashboard</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4 col-lg-12">
        <app-home-earnings-call></app-home-earnings-call>
    </div>
    <!-- end col-->

    <div class="col-xl-8 col-lg-12">
        <app-home-earnings-call></app-home-earnings-call>
    </div>
    <!-- end col-->

  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-xl-4 col-lg-6">
      
    </div>
    <!-- end col-->

    <div class="col-xl-4 col-lg-6">
      
    </div>
    <!-- end col-->

    <div class="col-xl-4 col-lg-12">
      
    </div>
    <!-- end col-->
  </div>
  <!-- end row -->


